In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2019-11-06 03:46:24,-33.59,26.89,64.00,85,56,1.99
1,1,Hithadhoo,MV,2019-11-06 03:46:24,-0.60,73.08,81.99,73,67,7.63
2,2,Betong,MY,2019-11-06 03:46:25,5.77,101.07,86.36,56,3,1.57
3,3,Cape Town,ZA,2019-11-06 03:44:10,-33.93,18.42,64.00,93,75,13.87
4,4,Noyabrsk,RU,2019-11-06 03:46:25,63.20,75.45,8.76,94,0,11.45

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = abs(city_data_df["Max Temp"])
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap layer.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 70

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2019-11-06 03:46:24,-33.59,26.89,64.00,85,56,1.99
3,3,Cape Town,ZA,2019-11-06 03:44:10,-33.93,18.42,64.00,93,75,13.87
5,5,Hobart,AU,2019-11-06 03:46:26,-42.88,147.33,64.40,18,75,19.46
7,7,Lompoc,US,2019-11-06 03:46:27,34.64,-120.46,59.00,87,1,10.42
10,10,New Norfolk,AU,2019-11-06 03:46:29,-42.78,147.06,64.40,18,75,19.46
11,11,Astara,AZ,2019-11-06 03:46:29,38.42,48.87,42.80,100,40,7.38
13,13,Shelburne,CA,2019-11-06 03:46:31,44.08,-80.20,36.00,86,90,10.80
15,15,Puerto Ayora,EC,2019-11-06 03:43:30,-0.74,-90.35,68.00,92,11,5.99
17,17,Ushuaia,AR,2019-11-06 03:46:34,-54.81,-68.31,35.60,98,90,6.93
18,18,Mookane,BW,2019-11-06 03:46:34,-23.68,26.66,67.64,50,0,5.88

In [23]:
preferred_cities_df.count()

City_ID       266
City          266
Country       264
Date          266
Lat           266
Lng           266
Max Temp      266
Humidity      266
Cloudiness    266
Wind Speed    266
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
0    Port Alfred      ZA     64.00 -33.59   26.89
3      Cape Town      ZA     64.00 -33.93   18.42
5         Hobart      AU     64.40 -42.88  147.33
7         Lompoc      US     59.00  34.64 -120.46
10   New Norfolk      AU     64.40 -42.78  147.06
11        Astara      AZ     42.80  38.42   48.87
13     Shelburne      CA     36.00  44.08  -80.20
15  Puerto Ayora      EC     68.00  -0.74  -90.35
17       Ushuaia      AR     35.60 -54.81  -68.31
18       Mookane      BW     67.64 -23.68   26.66

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Port Alfred,ZA,64.00,-33.59,26.89,The Halyards Hotel
3,Cape Town,ZA,64.00,-33.93,18.42,Southern Sun Waterfront Cape Town
5,Hobart,AU,64.40,-42.88,147.33,St Ives Apartments
7,Lompoc,US,59.00,34.64,-120.46,Holiday Inn Express Lompoc
10,New Norfolk,AU,64.40,-42.78,147.06,The Shingles Riverside Cottages
11,Astara,AZ,42.80,38.42,48.87,Astara ITTIC Hotel
13,Shelburne,CA,36.00,44.08,-80.20,The Retreat at the Farm
15,Puerto Ayora,EC,68.00,-0.74,-90.35,Finch Bay Galapagos Hotel
17,Ushuaia,AR,35.60,-54.81,-68.31,Albatros Hotel
18,Mookane,BW,67.64,-23.68,26.66,

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Add info boxes to markers.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]